### Project on Data Cleaning In Python
Background
Udemy is a massive online open course (MOOC) web application. Within Udemy, a student can learn nearly anything. You may wonder, why would anyone take one of these courses? If you use Googleâ€™s Trends app, you can enter in different search terms and compare the world-wide volume of searches for that search term.

For example, I put in the terms, who, what, when, where, why and how. In addition, I furthered the comparison and added the terms, how to, what are, who is, why are, when do.

According to the trends on Google, obviously the worlds wants to know how to do things and this is exactly what Udemy does. It teaches people how to do things.

Below is the steps taken to clean and streamline the Web Development data to be used by our data analysts.

Project By:
Princilla Koranteng

In [ ]:
# import the necessary librabries
import pandas as pd
import numpy as np

In [ ]:
# read the csv file as a dataframe and check the first five rows
df = pd.read_csv('WebDevelopment.csv')
df.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z,NaN,NaN,NaN,NaN,NaN
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,1,50,47886,285,125,all levels,12.5 hours,2012-06-18T16:52:34Z,NaN,NaN,NaN,NaN,NaN
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,1,50,2577,529,64,All Levels,4.5 hours,2016-06-30T16:57:08Z,NaN,NaN,NaN,NaN,NaN
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,1,60,8777,206,75,Intermediate Level,15.5 hours,2014-06-17T05:43:50Z,NaN,NaN,NaN,NaN,NaN
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,1,20,23764,490,58,beginner,5.5 hours,2015-10-17T04:52:25Z,NaN,NaN,NaN,NaN,NaN

In [ ]:
# number of columns and rows in the dataframe
print(df.shape)
print('The number of rows is {} and number columns in the dataframe is {}'.format(df.shape[0],df.shape[1]))

(1200, 16)
The number of rows is 1200 and number columns in the dataframe is 16

#### General Information about our data
The data has 16 columns and 1200 rows.

1. id: column shows the distinct identification of our values in the data. It has zero null values and the data type is an integer.
2. title : column shows the various names of the courses in the dataset. It has zero null values and the data type is an object.
3. url: column is the website names. It has zero null values and the data type is an object.
4. isPaid : column shows whether the course is paid or not paid. It has zero null values and the data type is an object.
5. price: column shows the price of subscribing to the courses. It has zero null values and the data type is an object.
6. numSubsribers : shows the numbers of subscribers for a specific course. It has zero null values and the data type is an integer.
7. numReviews : shows the number of reviews by specific course. It has zero null values and the data type is an integer.
8. instructionallevel : shows the different  competency  level of the course. It has zero null values and the data type is an integer.
9. contentinfo : shows the duration of each course. It has zero null values and the data type is an integer.
10. publishedTime : shows the date a specific course was published.It has zero null values and the data type is an integer.
11. Unamed 11,12,13,14,15  columns do not have any values.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1200 non-null   int64
 1   title                 1200 non-null   object
 2   url                   1200 non-null   object
 3   isPaid                1200 non-null   object
 4   price                 1200 non-null   object
 5   numSubscribers        1200 non-null   int64
 6   numReviews            1200 non-null   int64
 7   numPublishedLectures  1200 non-null   int64
 8   instructionalLevel    1200 non-null   object
 9   contentInfo           1200 non-null   object
 10  publishedTime         1200 non-null   object
 11  Unnamed: 11           0 non-null      float64
 12  Unnamed: 12           0 non-null      float64
 13  Unnamed: 13           0 non-null      float64
 14  Unnamed: 14           0 non-null      float64
 15  Unnamed: 15           0 non-null      float64
dtypes: float64(5), int64(4), object(7)
memory usage: 150.1+ KB

In [ ]:
# check the summary statistics for the numeric column
df.describe()

,id,numSubscribers,numReviews,numPublishedLectures,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
count,1.200000e+03,1200.000000,1200.000000,1200.00000,0.0,0.0,0.0,0.0,0.0
mean,7.068543e+05,6650.476667,356.579167,52.81750,NaN,NaN,NaN,NaN,NaN
std,3.289244e+05,14613.648207,1575.217659,62.81375,NaN,NaN,NaN,NaN,NaN
min,8.324000e+03,19.000000,-602.000000,5.00000,NaN,NaN,NaN,NaN,NaN
25%,4.757115e+05,1127.500000,25.000000,19.00000,NaN,NaN,NaN,NaN,NaN
50%,7.384560e+05,2416.500000,64.500000,32.00000,NaN,NaN,NaN,NaN,NaN
75%,9.752715e+05,6894.750000,178.250000,63.25000,NaN,NaN,NaN,NaN,NaN
max,1.277924e+06,268923.000000,27445.000000,779.00000,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dropping unwanted columns
df.drop(['Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15'], axis= 1, inplace = True)

In [ ]:
df.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,1,50,47886,285,125,all levels,12.5 hours,2012-06-18T16:52:34Z
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,1,50,2577,529,64,All Levels,4.5 hours,2016-06-30T16:57:08Z
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,1,60,8777,206,75,Intermediate Level,15.5 hours,2014-06-17T05:43:50Z
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,1,20,23764,490,58,beginner,5.5 hours,2015-10-17T04:52:25Z

In [ ]:
# New shape shows the columns have educed from 16 to 11
df.shape

(1200, 11)

#### CLEANING INDIVIDUAL COLUMNS IN THE DATAFRAME

#### isPaid Column
We realized that the cells contained different values ( True, 1, TRUE, FALSE) for whether the course was paid or not paid. So we replace paid course with TRUE and non-paid course with FALSE.

In [ ]:
# checking the uniques in the column
df.isPaid.unique()

array(['TRUE', '1', 'FALSE', 'true'], dtype=object)

In [ ]:
# replacing the values in the column
df['isPaid'] = df['isPaid'].str.replace('1', 'TRUE').str.replace('true', 'TRUE')

In [ ]:
# checking the data type
df.isPaid.dtype

dtype('O')

#### price Column
Checked for the unique values and realized that the data contained a negative value (-20) and a free value. We checked whether the negative value was a paid course by subsetting it. Then we change the free values to zero. Transformed the data type from an object to an integer.

In [ ]:
df.price.unique()

array(['75', '50', '60', '20', '40', '150', '200', '195', '25', '95',
       '-20', '100', '190', '120', '110', '165', '65', '85', '175', '70',
       '80', '125', '145', '115', '135', 'Free', '30', '55', '35', '140',
       '45', '180', '170', '185', '90', '105', '160'], dtype=object)

In [ ]:
# subseting the row with the negative price value
df[df['price'] == '-20']

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime
16,159070,Introduction to Web Development: HTML,https://www.udemy.com/webdevelopment101_html/,TRUE,-20,26800,333,55,Beginner Level,3 hours,2014-02-13T20:39:33Z

In [ ]:
# subsetting the rows with free price value
df[df['price'] == 'Free']

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime
96,628222,How to Make an Online Portfolio Website from S...,https://www.udemy.com/how-to-make-a-portfolio-...,FALSE,Free,14026,232,25,All Levels,1 hour,2015-10-02T22:59:15Z
97,1122224,How To Make A Web Page With No Code,https://www.udemy.com/how-to-make-a-web-page-w...,FALSE,Free,2214,20,23,Beginner Level,2 hours,2017-03-23T00:06:48Z
98,357726,Spring Framework 4 And Dependency Injection Fo...,https://www.udemy.com/spring-framework-video-t...,FALSE,Free,21147,1220,16,Beginner Level,1.5 hours,2015-01-16T07:45:28Z
99,162274,Joomla 3 - The Basics,https://www.udemy.com/joomla-3-the-basics/,FALSE,Free,19909,411,17,Beginner Level,3 hours,2014-02-12T01:54:02Z
101,708674,Master WordPress Plugins: Shortcodes Ultimate ...,https://www.udemy.com/master-popular-wordpress...,FALSE,Free,10780,110,19,All Levels,1 hour,2016-01-14T18:03:09Z
...,...,...,...,...,...,...,...,...,...,...,...
1160,155640,Building a Search Engine in PHP & MySQL,https://www.udemy.com/creating-a-search-engine...,FALSE,Free,10110,379,12,All Levels,2.5 hours,2014-02-03T18:07:52Z
1165,366720,CSS Image filters - The modern web images colo...,https://www.udemy.com/super-awesome-images-wit...,FALSE,Free,6315,53,16,All Levels,1.5 hours,2014-12-10T19:43:40Z
1173,1079078,Drupal 8 Site Building,https://www.udemy.com/drupal-8-site-building/,FALSE,Free,1942,23,48,All Levels,4.5 hours,2017-05-02T05:15:52Z
1187,21386,Beginner Photoshop to HTML5 and CSS3,https://www.udemy.com/psd-html5-css3/,FALSE,Free,73110,1716,22,All Levels,2 hours,2012-07-27T12:54:57Z
1190,270976,A how to guide in HTML,https://www.udemy.com/a-how-to-guide-in-html/,FALSE,Free,7318,205,8,Beginner Level,35 mins,2014-08-10T20:19:10Z

In [ ]:
df['price'] = df['price'].str.replace('Free', '0').str.replace('-20', '20').astype('int')

In [ ]:
df['price'].dtypes

dtype('int32')

#### numsubscribers Column
There was no cleaning needed for this column

In [ ]:
print(df['numSubscribers'].unique())
len(df['numSubscribers'].unique())

[43285 47886  2577 ...   306   513   901]

1112

#### numReviews Column
Replaced the negative values to a positve one because reviews of a project can not be negative.

In [ ]:
df['numReviews'].unique()

array([  525,   285,   529,   206,   490,   202,  -112,   359,   178,
         210,   540,  -351,   167,   253,   220,   106,   333,   147,
          94,   217,   317,   218,   110,   131,   848,   506,  1017,
         655,   820,   662,  1445,  1981,   104,  1358,  1304,   418,
          73,    38,    52,    56,    59,    35,    21,    41,   200,
          83,   324,    13,   401,   198,   368,   137,   142,   116,
         193,   277,   111,   223,    46,   340,     6,    76,   201,
          75,    43,    53,    49,    31,   237,   783,   121,   312,
         268,   117,   215,   212,   674,   165,   680,   395,   188,
         414,  1111,   331,   941,   129,    72,   179,   799,   836,
         453,   997,   232,    20,  1220,   411,    89,     8,    82,
          23,    64,    80,     0,  6512,  4047,    16,     7,    30,
         139,   473,    79,    34,   118,  1097,    57,   173,   159,
         276,    78,   216,   219,   105,  2685,    96,   423,   102,
           5,    81,   169,    69,   970,   570,   901,   876,   303,
         286,   302,   629,   292,   262,    62,   125,   164,  1342,
         314,   114,    47,   978,   522,    44,   101,    63,   874,
          68,    88,   243,    24,    27,   160,    37,    29,    50,
         231,   306,    17,   291,     4,     9,   185,   138,    22,
          10,  1838,   330,  1548,   531,   622,   660,  1090,  2408,
        1846,   497,   214,   627,   931,   383,   134,    26,   329,
         685,   466,    65,   523,    11,   120,    12,   514,   589,
          28,   742,   471,   174,   144,    92,   136,    90,   213,
          15,    61,    60,   258,    48,   228,    93,    39,    32,
        1005,  2575,  5924,    33,   183,    14,   415,   463,   482,
         224,  1813,   260,    99,   247,   380,   450,    95,  1112,
         126,  8629,   441,   154,   354,    74,   750,   108,    71,
          51,   115,   112,     1,    42,    40,   107,   358,    45,
          19,   166,    18,    54,   145,   439,   172,   278,   242,
          85,    91,   239,    55,   393,   245,    36,    77,   261,
         989,    25,    84,   133,   195,  1106,   141,   249,     2,
         171,   435,   119,   162,   235,   279,    97,   311,    58,
          87,   318,   536,   416,   438,   130,   365,  -602,   508,
         721,   360,  1724,   527,  1213,   372,   688,   983,   620,
         407,   128,   489,    67,   150,  1225,   384,   382,   634,
         434,   780,   526,   123,   149,   850,  1883,  1375,   828,
         737, 19649,  1955,  4316,   676,  3809,  3137,   283,    86,
         103,  2692,  1286,   241,  4675,   288,  4340,  3166,  8341,
        1384, 27445,  2144, 22412,  4434,   914,   561,  2618,   271,
         313, 11580, 16976,  1893,  7106,  2709, 11123,  1560,  3326,
       15117,   307,  6357,   987,     3,   615,  4598,   945,  1236,
         386,   152,   689,   132,  1080,   135,  5660,    98,  2104,
         177,   146,   336,   148,   240,   546,  1948,   163,  5590,
         406,   161,   290,   304,   346,   180,   521,   196,   221,
         309,   319,   300,   143,  1036,  1234,   394,   390,   425,
         203,   379,  1716,   205,   113], dtype=int64)

In [ ]:
df[df['numReviews'] == -112]

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime
6,1094964,Build Your Own Backend REST API using Django R...,https://www.udemy.com/django-python/,TRUE,50,2669,-112,72,INTERMEDIATE,5.5 hours,2017-04-27T19:21:11Z

In [ ]:
df['numReviews'] = df['numReviews'].replace(-112,112).replace(-351,351).replace(-602,602)

#### numPublishedLectures Column
We stripped the empty spaces and changed the values to All, Beginner, Intermediate and Expert. The column data type was changed to a category.

In [ ]:
df['numPublishedLectures'].unique()

array([ 24, 125,  64,  75,  58,  37,  72,  65, 348,  39,  67,  63,  19,
        82,  32,  46,  55,  14,  29,  53,  49, 402,  17, 135, 120, 126,
        77, 171,  61,  89,  50,  74,  26, 212,  36,  52,  34,  27,  16,
        15,  10,  43,   8,  48,  28,  23,  60,  20,  95,  18,  31,  70,
        25,  11,  59, 107,  73, 160,  66,  69,  93,  83,  22, 133, 110,
       138,  80, 251, 207,  90,  97,  12,  38,  42,  99, 454, 115,  40,
        54, 123, 281, 112,  30,  21,  88, 221, 159,  45, 178,  68,   7,
        87,  91,  47,  84,  57,  86,  13, 308, 197, 162, 129,  41, 185,
       174, 145, 779, 117, 188, 136,  62, 132, 109,  71,  33, 195, 118,
       536, 143,  35,  94,  44, 131, 316, 330, 140,  56,  78,   9, 157,
        92, 122,  76, 179, 224, 204, 104, 491, 101,   6, 116, 214, 113,
       168, 108,  79, 173, 384,  98, 172, 103, 102, 144, 147, 114, 191,
       329, 286,  96, 283, 142, 111, 194, 342, 304, 246,   5, 353,  85,
       137, 119, 150,  51, 100,  81, 154, 106, 124, 161, 301, 458, 215,
       271, 239, 177, 320, 358, 152], dtype=int64)

In [ ]:
df['instructionalLevel'] = df['instructionalLevel'].str.strip()
df['instructionalLevel'].unique()

array(['All Levels', 'all levels', 'Intermediate Level', 'beginner',
       'Beginner Level', 'INTERMEDIATE', 'all', 'ALLEVELs', 'BEGINNER',
       'Expert Level'], dtype=object)

In [ ]:
df['instructionalLevel'] = df['instructionalLevel'].replace(['All Levels','all levels','all','ALLEVELs'],
                                                            'All')\
                        .replace(['beginner','Beginner Level','Beginner Level','BEGINNER'],'Beginner')\
                        .replace(['Intermediate Level','INTERMEDIATE'], 'Intermediate')\
                        .replace('Expert Level', 'Expert')\
                        .astype('category')

In [ ]:
df['instructionalLevel'].unique()

['All', 'Intermediate', 'Beginner', 'Expert']
Categories (4, object): ['All', 'Intermediate', 'Beginner', 'Expert']

#### contentInfo Column
We converted the hours into minutes and changed the column name to reflect the change.

In [ ]:
df['contentInfo'].unique()

array(['4 hours', '12.5 hours', '4.5 hours', '15.5 hours', '5.5 hours',
       '5 hours', '19.5 hours', '7 hours', '6 hours', '1.5 hours',
       '3.5 hours', '12 hours', '3 hours', '32.5 hours', '1 hour',
       '9.5 hours', '9 hours', '7.5 hours', '18.5 hours', '19 hours',
       '15 hours', '20.5 hours', '13.5 hours', '37.5 hours', '14.5 hours',
       '2 hours', '2.5 hours', '17.5 hours', '10 hours', '8.5 hours',
       '6.5 hours', '8 hours', '10.5 hours', '25 hours', '11 hours',
       '20 hours', '25.5 hours', '45 hours', '33 hours', '16 hours',
       '11.5 hours', '60 hours', '16.5 hours', '22.5 hours', '23 hours',
       '18 hours', '13 hours', '33 mins', '14 hours', '29.5 hours',
       '21.5 hours', '31.5 hours', '27.5 hours', '44.5 hours', '36 mins',
       '24.5 hours', '40 mins', '51 hours', '43 mins', '42 mins',
       '37 mins', '32 mins', '34 mins', '17 hours', '41 mins', '44 mins',
       '35 mins', '57 hours', '38 mins', '39 mins', '76.5 hours',
       '22 hours', '30.5 hours', '43 hours', '42 hours', '26.5 hours',
       '26 hours', '21 hours', '30 mins', '48.5 hours', '31 mins',
       '23.5 hours', '66.5 hours'], dtype=object)

In [ ]:
# using apply method to evaluate the conversion to minutes.
df['contentInfo'] = df['contentInfo'].str.replace(' hours', '*60').str.replace(' hour', '*60')\
                   .str.replace(' mins','*1').apply(eval)

In [ ]:
df.columns

Index(['id', 'title', 'url', 'isPaid', 'price', 'numSubscribers', 'numReviews',
       'numPublishedLectures', 'instructionalLevel', 'contentInfo',
       'publishedTime'],
      dtype='object')

In [ ]:
df.columns = ['id', 'title', 'url', 'isPaid', 'price', 'numSubscribers', 'numReviews', 'numPublishedLectures', 'instructionalLevel', 'contentInfo (mins)',
              'publishedTime']

In [ ]:
df.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo (mins),publishedTime
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All,240.0,2013-01-03T00:55:31Z
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,TRUE,50,47886,285,125,All,750.0,2012-06-18T16:52:34Z
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,TRUE,50,2577,529,64,All,270.0,2016-06-30T16:57:08Z
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,TRUE,60,8777,206,75,Intermediate,930.0,2014-06-17T05:43:50Z
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,TRUE,20,23764,490,58,Beginner,330.0,2015-10-17T04:52:25Z

#### publishedTime
Converted the column data type to a datetime object.

In [ ]:
# convert to datetime
df['publishedTime'] = pd.to_datetime(df['publishedTime'])

In [ ]:
df.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo (mins),publishedTime
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All,240.0,2013-01-03 00:55:31+00:00
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,TRUE,50,47886,285,125,All,750.0,2012-06-18 16:52:34+00:00
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,TRUE,50,2577,529,64,All,270.0,2016-06-30 16:57:08+00:00
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,TRUE,60,8777,206,75,Intermediate,930.0,2014-06-17 05:43:50+00:00
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,TRUE,20,23764,490,58,Beginner,330.0,2015-10-17 04:52:25+00:00

#### id column
Found the there was one duplicate row and we dropped it

In [ ]:
df[df['id'].duplicated(keep= False)]

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo (mins),publishedTime
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All,240.0,2013-01-03 00:55:31+00:00
83,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All,240.0,2013-01-03 00:55:31+00:00

In [ ]:
df.drop_duplicates(keep='first', inplace = True)

#### Cleaned Data

In [ ]:
# call the first 10 rows of the cleaned data
df.head(10)

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo (mins),publishedTime
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All,240.0,2013-01-03 00:55:31+00:00
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,TRUE,50,47886,285,125,All,750.0,2012-06-18 16:52:34+00:00
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,TRUE,50,2577,529,64,All,270.0,2016-06-30 16:57:08+00:00
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,TRUE,60,8777,206,75,Intermediate,930.0,2014-06-17 05:43:50+00:00
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,TRUE,20,23764,490,58,Beginner,330.0,2015-10-17 04:52:25+00:00
5,1086834,How To Make A Wordpress Website 2017 | Divi Th...,https://www.udemy.com/how-to-make-a-wordpress-...,TRUE,40,3541,202,37,Beginner,240.0,2017-01-26 22:15:02+00:00
6,1094964,Build Your Own Backend REST API using Django R...,https://www.udemy.com/django-python/,TRUE,50,2669,112,72,Intermediate,330.0,2017-04-27 19:21:11+00:00
7,965870,Angular and Firebase - Build a Web App with Ty...,https://www.udemy.com/angular-firebase-applica...,TRUE,150,1966,359,65,All,300.0,2016-09-27 21:46:03+00:00
8,965528,Web Development Masterclass - Complete Certifi...,https://www.udemy.com/web-development-mastercl...,TRUE,200,4090,178,348,All,1170.0,2016-10-12 03:14:13+00:00
9,1078208,Spring Boot Tutorial For Beginners,https://www.udemy.com/spring-boot-tutorial-for...,TRUE,40,2578,210,39,Beginner,330.0,2017-01-23 15:13:53+00:00

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1199 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1199 non-null   int64
 1   title                 1199 non-null   object
 2   url                   1199 non-null   object
 3   isPaid                1199 non-null   object
 4   price                 1199 non-null   int32
 5   numSubscribers        1199 non-null   int64
 6   numReviews            1199 non-null   int64
 7   numPublishedLectures  1199 non-null   int64
 8   instructionalLevel    1199 non-null   category
 9   contentInfo (mins)    1199 non-null   float64
 10  publishedTime         1199 non-null   datetime64[ns, UTC]
dtypes: category(1), datetime64[ns, UTC](1), float64(1), int32(1), int64(4), object(3)
memory usage: 99.7+ KB